:root {
    --background-color: rgb(150, 171, 156);
    --main-color: rgb(84, 117, 94);
    --text-color: rgb(42, 50, 44);
    --header-color: rgb(18, 21, 19);
    --hover-color: rgb(69, 81, 71);
    --port-header: rgb(42, 50, 44);
    --port-color: rgb(150, 171, 156);
    --font-family: 'Garamond', serif;
    --custom-font: "Permanent Marker", serif;
}

html, body {
    overflow: auto;                  
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--main-color);
}

body {
    background-color: var(--background-color);
}

nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav > a {
    font-family: var(--font-family);
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
}


nav > a:hover {
    border-radius: 0.5rem;
    background-color: var(--hover-color);
}

#about-section, #contact-section {
    margin: 0 15%;
    padding: 10px;
    border-radius: 10px;
    line-height: 1.6;
    font-size: 1.1em;
}

main > h2 {
    font-size: 2.5rem;
    padding-left: 1em;
}

main > p {
    font-family: var(--font-family);
    font-size: 1.3rem;
}

my-socials {
    display: flex;
    justify-content: center;
    gap: 10px;
}

my-socials a {
    margin-bottom: 15px;
}

my-socials img {
    width: auto;
    object-fit: cover;
}

image-container {
    display: flex;
    flex-direction: row;
    column-gap: 1.5em;
    justify-content: center;
    margin: 10px 0px;
}

image-container img {
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    object-fit: cover;
}